@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  border-bottom: 1px solid #b9b9b9;
}

.nav-link {
  padding: 0 10px;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a.active {
  text-decoration: underline;
}

td {
  vertical-align: middle;
}

.list-group-item {
  padding: 1rem 0 22px 1.7rem;
}

svg {
  width: 20px;
}

@media (max-width: 600px) {
  .nav-link a {
    border: none !important;
    margin-left: 0 !important;
  }
}
